body {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 50px;
  align: center;
}

#snake {
  font-size: 15px;
  color: black;
}

#bird {
  font-size: 15px;
  color: black;
}

#number {
  font-size: 15px;
  color: black;
}

#calculator {
  font-size: 15px;
  color: black;
}

#tip {
  font-size: 15px;
  color: black;
}

img {
  border-radius: 30px;
  width: 300px;
  height: 230px;
}
