body {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 40px;
  align: center;
}

#snake {
  padding: 20px 20px;
  font-size: 15px;
  color: black;
}

#bird {
  padding: 20px 20px;
  font-size: 15px;
  color: black;
}

#number {
  padding: 20px 20px;
  font-size: 15px;
  color: black;
}

#calculator {
  padding: 20px 20px;
  font-size: 15px;
  color: black;
}

#tip {
  padding: 20px 20px;
  font-size: 15px;
  color: black;
}
